<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>日報管理システム</title>
    <link rel="stylesheet" th:href="@{/css/employee/list.css}">

</head>
<body>
    <div th:include="header :: frag_head"></div>
    <h2>日報管理システムへようこそ</h2>
    <table>
        <tr>
            <th>氏名</th>
            <th>日付</th>
            <th>タイトル</th>
            <th>操作</th>
        </tr>
        <tr th:each="report : ${reportlist}">
            <td th:text="${report.employee.name}"></td>
            <td th:text="${#temporals.format(report.reportDate, 'yyyy/MM/dd')}"></td>
            <td th:text="${report.title}"></td>
            <td>
                <a th:href="@{/report/detail/{id}/(id=${report.id})}">詳細を見る</a>
            </td>
        </tr>
    </table>
    <p th:text="'(全 ' + ${reportcount} + ' 件）'"></p>
    <a th:href="@{/report/register}">新規日報の登録</a>
</body>
</html>